{{#> main}}
	{{#*inline "main"}}
	
	<div class="uk-visible@l">
		{{#> ukGrid class="uk-grid-xlarge uk-flex uk-child-width-1-2@l"}}
			{{#*inline "cells"}}
				<div>
					<img class="uk-padding-large uk-padding-remove-horizontal" data-scroll data-scroll-speed="3" data-scroll-delay="0.9" data-scroll-repeat src="./img/home-1.jpg" loading="lazy" width="573" height="846" alt="image">
				</div>
				<div id="introTarget">
					<p class="uk-text-lead uk-width-1-2 uk-padding-large uk-padding-remove-horizontal"data-scroll data-scroll-speed="3" data-scroll-sticky data-scroll-target="#introTarget">If you could have more time, more efficient business processes and a happier team, would you take it?</p>
				</div>
			{{/inline}}
		{{/ukGrid}}
	</div>
	
	<div class="uk-position-relative images uk-visible@l">
		{{#> ukContainer size=ukContainer}}
			{{#*inline "out"}}
				<span class="fixed-target images-target"></span>
				<div class="uk-width-1-2 images-text" data-scroll data-scroll-speed="1" data-scroll-sticky data-scroll-target=".images-target">
					<div data-scroll data-scroll-offset="100" data-scroll-speed="1">
						<p class="uk-text-lead uk-width-5-6">At CRC, that’s exactly what we do. We work with ambitious and creative business owners just like you to help take things to the next level.</p>
					</div>
				</div>
				<div class="uk-flex uk-flex-right images-right" data-scroll data-scroll-speed="4">
					{{#> ukGrid class="uk-grid uk-flex uk-child-width-1-2"}}
						{{#*inline "cells"}}
							<div data-scroll data-scroll-speed="10">
								<img src="./img/home-2.jpg" loading="lazy" width="375" height="618" alt="image">
							</div>
							<div data-scroll data-scroll-speed="2">
								<img src="./img/home-3.jpg" loading="lazy" width="376" height="618" alt="image">
							</div>
						{{/inline}}
					{{/ukGrid}}
				</div>
			{{/inline}}
		{{/ukContainer}}
		<div class="uk-flex images-left images-target uk-background-cover" data-uk-img style="background-image: url(./img/home-4.jpg);" data-scroll data-scroll-speed="2" role="presentation"></div>
	</div>

	<div class="uk-hidden@l about">
		{{#> ukContainer size=ukContainer}}
			{{#*inline "out"}}		
				<img src="./img/home-1.jpg" loading="lazy" width="375" height="618" alt="image">
				{{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2@s" dataUkGrid="masonry: true"}}
					{{#*inline "cells"}}
						<div>
							<p class="uk-text-lead">If you could have more time, more efficient business processes and a happier team, would you take it?</p>
						</div>
						<div>
							<img src="./img/home-3.jpg" loading="lazy" width="376" height="618" alt="image">
						</div>
						<div>
							<img src="./img/home-2.jpg" loading="lazy" width="375" height="618" alt="image">
						</div>
						<div>
							<p class="uk-text-lead">At CRC, that’s exactly what we do. We work with ambitious and creative business owners just like you to help take things to the next level.</p>
						</div>
					{{/inline}}
				{{/ukGrid}}		
				<img src="./img/home-4.jpg" loading="lazy" width="376" height="618" alt="image">
			{{/inline}}
		{{/ukContainer}}			
	</div>

	{{#each page.contexts}}
		{{#with this}}
			{{> context}}
		{{/with}}
	{{/each}}
	
	<div class="start uk-position-relative start-first uk-visible@l" id="startTarget" data-scroll data-scroll-class="start-first-animation">
		<a href="#" class="uk-position-cover uk-position-z-index" aria-label="Find out more about CRC Accountancy"></a>
		<div class="uk-flex uk-flex-between uk-light">
			<div class="start-img uk-overflow-hidden">
				<div class="uk-background-cover uk-width-1-1 uk-height-1-1" data-uk-img style="background-image: url('./img/home-5.jpg');"></div>
			</div>
			<div class="uk-background-primary uk-position-relative uk-width-expand uk-flex uk-flex-column uk-flex-left">
				<ul class="uk-list uk-margin-remove-bottom uk-position-relative">
					<li><h2>Are you</h2></li>
					<li><h2>ready to</h2></li>
					<li><h2>get</h2></li>
					<li><h2>started?</h2></li>
				</ul>
				{{>renderIcon name="arrow-right" viewBox="228 69"}}
			</div>
		</div>
	</div>

	<div class="uk-flex uk-flex-between uk-position-relative uk-light start uk-hidden@l">
		<a href="#" class="uk-position-cover uk-position-z-index" aria-label="Find out more about CRC Accountancy"></a>
		<div class="uk-flex uk-flex-column uk-flex-right">
			<img src="./img/home-5.jpg" loading="lazy" width="717" height="980" alt="image">
		</div>
		<div class="uk-background-primary uk-position-relative uk-width-expand uk-flex uk-flex-column uk-flex-right">
			<ul class="uk-list uk-margin-remove-bottom">
				<li class="uk-position-relative"><h2>Are you</h2></li>
				<li class="uk-position-relative"><h2>ready to</h2></li>
				<li class="uk-position-relative"><h2>get</h2></li>
				<li class="uk-position-relative"><h2>started?</h2></li>
			</ul>
			{{>renderIcon name="arrow-right" viewBox="228 69"}}
		</div>
	</div>

	<div class="uk-position-relative testimonials uk-background-secondary">
		{{> renderIcon name="testimonials" class="testimonials-icon" viewBox="1601 166"}}
		{{#> ukContainer size=ukContainer}}
			{{#*inline "out"}}
			<h2 class="testimonials-title">See who<br> we’ve helped</h2>
			{{/inline}}
		{{/ukContainer}}
		<div data-scroll data-scroll-class="testimonials-animation">
			{{#> ukContainer size="xlarge"}}
				{{#*inline "out"}}			
					<div data-uk-slider>
						<div class="uk-position-relative uk-visible-toggle">
							<ul class="uk-slider-items uk-child-width-1-4@l uk-grid">
								{{#each page.testimonials}}
									{{#with this}}
									<li class="uk-flex uk-flex-center">
										{{> card}}
									</li>
									{{/with}}
								{{/each}}
							</ul>
						</div>

						<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

					</div>
				{{/inline}}
			{{/ukContainer}}
		</div>
	</div>

	<div class="experience uk-position-relative" id="experienceTarget">
		<div class="uk-visible@l">
			{{#> ukGrid class="uk-grid-xlarge uk-flex uk-child-width-1-2"}}
				{{#*inline "cells"}}
					<div data-scroll data-scroll-speed="5" class="experience-image">
						<div class="c-fixed_wrapper uk-position-relative uk-overflow-hidden uk-background-default" data-scroll data-scroll-call="dynamicBackground" data-scroll-repeat>
							<div class="c-fixed_target" id="experienceImgTarget"></div>
							<div class="c-fixed" data-uk-img data-scroll data-scroll-sticky data-scroll-target="#experienceImgTarget" style="background-image: url('./img/home-6.jpg');"></div>
						</div>
					</div>
					<div class="uk-position-relative" data-scroll data-scroll-speed="1" data-scroll-sticky data-scroll-target="#experienceTarget">
						<div class="uk-width-4-5" data-scroll data-scroll-offset="200">
							<h2 class="uk-text-large">Your experience working with CRC</h2>
							<p>Our focus is on building a relationship with you and your business.</p>
							<p>To do this, we use a range of tools and platforms that create clear communication channels and build more efficient processes into your organisation’s workflows.</p>
							<p>We’re constantly evolving the platforms we use to ensure we give you the best experience.</p>
						</div>
					</div>
				{{/inline}}
			{{/ukGrid}}
		</div>

		{{#> ukContainer size=ukContainer class="uk-hidden@l"}}
			{{#*inline "out"}}
				<h2>Your experience working with CRC</h2>
				{{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2@s" dataUkGrid="masonry: true"}}
					{{#*inline "cells"}}
					<div>
						<img src="./img/experience-mob-1.jpg" loading="lazy" width="304" height="309" alt="image">
					</div>
					<div>
						<p>Our focus is on building a relationship with you and your business.</p>
					</div>
					<div class="uk-hidden@s">
						<img src="./img/experience-mob-2.jpg" loading="lazy" width="304" height="310" alt="image">
					</div>
					<div>
						<p>To do this, we use a range of tools and platforms that create clear communication channels and build more efficient processes into your organisation’s workflows.</p>
						<p>We’re constantly evolving the platforms we use to ensure we give you the best experience.</p>						
					</div>
					<div class="uk-visible@s">
						<img src="./img/experience-mob-2.jpg" loading="lazy" width="304" height="310" alt="image">
					</div>
					{{/inline}}
				{{/ukGrid}}									
			{{/inline}}
		{{/ukContainer}}

		<div class="values uk-hidden@l">
			<div data-uk-slider>
				<div class="uk-position-relative uk-visible-toggle">
					<ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-4 uk-grid uk-grid-small">
						{{#each page.values}}
							{{#with this}}
							<li class="uk-flex uk-flex-center">
								{{> value}}
							</li>
							{{/with}}
						{{/each}}
					</ul>
				</div>

				<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

			</div>
			{{#> ukContainer size=ukContainer}}
				{{#*inline "out"}}
					<p class="uk-text-lead">Value your time, because we do.</p>
				{{/inline}}
			{{/ukContainer}}					
		</div>
	</div>

	<div class="values uk-visible@l" id="valuesDirection">
		<div data-scroll data-scroll-direction="horizontal" data-scroll-target="#valuesDirection" data-scroll-speed="-40">
			<div class="uk-flex uk-flex-middle">
				<div class="uk-margin-medium-right">
					<p class="uk-text-lead">Value your time, because we do.</p>
				</div>				
				{{#> ukGrid class="uk-grid-small uk-flex"}}
					{{#*inline "cells"}}

					{{#each page.values}}
						{{#with this}}
						<div>
							{{> value}}
						</div>
						{{/with}}
					{{/each}}

					{{/inline}}
				{{/ukGrid}}
			</div>
		</div>
	</div>	

	<div class="uk-flex uk-flex-between uk-light start start-last uk-position-relative" data-scroll data-scroll-class="start-last-animation">
		<a href="#" class="uk-position-cover uk-position-z-index" aria-label="Find out more about CRC Accountancy"></a>
		<div class="uk-flex uk-flex-column uk-flex-left">
			<div class="uk-background-cover uk-width-1-1 uk-visible@l" data-uk-img style="background-image: url('./img/home-7.jpg');"></div>
			<img class="uk-hidden@l" src="./img/home-7.jpg" loading="lazy" width="717" height="980" alt="image">
		</div>
		<div class="uk-background-primary uk-position-relative uk-width-expand uk-flex uk-flex-column uk-flex-right">
			<ul class="uk-list uk-margin-remove-bottom">
				<li><h2>get</h2></li>
				<li><h2>started?</h2></li>
			</ul>
			{{>renderIcon name="arrow-right" viewBox="228 69"}}
		</div>
	</div>


	{{/inline}}
{{/main}}
