.banner {
	padding-top: 65px;

	.uk-container>:last-child {
		margin: 0 0 85px;
	}

	img {
		max-width: calc(100vw - 20px);
		width: calc(100vw - 20px);
	}

	@media (min-width: $breakpoint-xsmall-max) {
		padding-top: 30px;

		h1 {
			padding-right: 70px;
		}

		&::before {
			height: 75%;
		}

		.uk-container>:last-child {
			margin: 0 0 125px;
		}

		img {
			right: 0;
			max-width: calc(100vw - 60px);
			width: calc(100vw - 60px);
		}

		.uk-overlay {
			padding-bottom: $global-medium-margin;
		}
	}

	@media (min-width: $breakpoint-medium-max) {
		.banner-title {
			// background-color: $success;
			z-index: 1;
			position: relative;
			height: 130vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			// h1 {
			// 	span {
			// 		opacity: 0;
			// 		transform-origin: center top;
			// 		transform-style: preserve-3d;
			// 		transform: translateY(100%) rotateX(-80deg);
			// 		transition: opacity 0s cubic-bezier(.215, .61, .355, 1), transform 0s cubic-bezier(.215, .61, .355, 1);
			// 		position: absolute;
			// 		left: 0;
			// 		top: 0;
			// 	}

			// 	&.is-inview span {
			// 		opacity: 1;
			// 		transition-duration: 1s;
			// 		transform: none;
			// 	}
			// }
		}

		img {
			top: 466px;
			width: calc(50vw - 20px);
			position: absolute;
		}

		&-bottom {
			// padding: 420px 0 218px;
			// padding: 0 0 218px;

			h1 {
				min-width: 120vw;
			}
		}

		.uk-overlay {
			padding-bottom: $global-large-margin;
		}
	}

	@media (max-width: $breakpoint-large) {
		overflow-x: hidden;

		h1 {
			font-size: 80px;
		}
	}

	@media (max-width: $breakpoint-small) {
		h1 {
			font-size: 40px;
		}
	}
}