.banner {
	padding-top: 65px;

	.uk-container>:last-child {
		margin: 0 0 85px;
	}

	img {
		max-width: calc(100vw - 20px);
		width: calc(100vw - 20px);
	}

	@media (min-width: $breakpoint-small) {
		padding-top: 30px;

		h1 {
			padding-right: 70px;
		}

		&::before {
			height: 75%;
		}

		.uk-container>:last-child {
			margin: 0 0 125px;
		}

		img {
			right: 0;
			max-width: calc(100vw - 60px);
			width: calc(100vw - 60px);
		}

		.uk-overlay {
			padding-bottom: $global-medium-margin;
		}
	}

	@media (min-width: $breakpoint-large) {
		.banner-title {
			z-index: 1;
			position: relative;
			height: 130vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			h1 {
				span {
					opacity: 0;
					transition: .5s linear;
				}

				&.is-inview span {
					opacity: 1;
				}
			}
		}

		img {
			top: 466px;
			width: calc(50vw - 20px);
			position: absolute;
		}

		&-bottom h1 {
			min-width: 120vw;
		}

		.uk-overlay {
			padding-bottom: $global-large-margin;
		}
	}

	@media (max-width: $breakpoint-large) {
		overflow-x: hidden;

		h1 {
			font-size: 80px;
		}
	}

	@media (max-width: $breakpoint-small) {
		h1 {
			font-size: 40px;
		}
	}
}