.banner {

	img {
		top: 466px;
		width: calc(50vw - 20px);
	}

	&-bottom {
		padding: 420px 0 218px;

		h1 {
			min-width: 200vw;
		}
	}

	@media (min-width: $breakpoint-small) {

		&::before {
			height: 75%;
		}

		.uk-overlay {
			padding-bottom: $global-medium-margin;
		}
	}

	@media (min-width: $breakpoint-large) {


		.uk-overlay {
			padding-bottom: $global-large-margin;
		}
	}
}