.context {
    .number {
        font-size: 450px;
        line-height: 100px;
        font-family: $font-secondary;
    }

    @media (min-width: $breakpoint-medium) {
        padding-bottom: 80px;

        h2 {
            margin-top: 172px;
        }

        .number {
            float: left;
            width: 25%;
        }

        .uk-width-1-2 {
            width: 49.6%;
            display: inline-block;
        }

        &-wrap {
            padding-top: 15vh;
        }

        &-text {
            float: right;
            padding-top: 25vh;
        }

        &-target {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 88vh;
        }

        p {
            padding-left: 40px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: -15px;
                height: 2px;
                width: 40px;
                background-color: rgba($global-color, .1);
            }
        }
    }
}