.context {
    overflow: hidden;
    padding: 100px 0;

    h2 {
        margin-bottom: 80px;
    }

    .number {
        line-height: 1;
        font-size: 100px;
        font-family: $font-secondary;
    }

    p {
        @include text-left-line;
    }

    @media (min-width: $breakpoint-xsmall-max) {
        h2 {
            margin-top: 40px;
        }

        p {
            padding-left: 40px;
        }
    }

    @media (min-width: $breakpoint-small) {
        .number {
            font-size: 150px;
        }
    }

    @media (min-width: $breakpoint-medium) {
        .number {
            font-size: 200px;
        }
    }

    @media (min-width: $breakpoint-large) {
        padding: 80px 0;

        &-stop {
            height: 70%;
        }

        h2 {
            margin-top: 90px;
        }

        .uk-grid {
            padding-top: 100px;
        }

        .number,
        &-text {
            @include animation-slide-bottom;
        }

        .number {
            font-size: 400px;

            &:last-of-type {
                transition-delay: .3s;
            }
        }

        &-text {
            position: relative;
            transition-delay: .45s;
        }
    }

    @media (min-width: $breakpoint-xlarge) {
        .number {
            font-size: 450px;
        }
    }

    @media (max-width: $breakpoint-medium-max) and (min-width: $breakpoint-small) {
        h3 {
            font-size: 60px;
        }

        &.uk-background-secondary {
            .number-wrap {
                left: 0;
            }
        }

        &:not(.uk-background-secondary) {
            .number-wrap {
                right: 0;
                text-align: right;
            }
        }

        .number-wrap {
            padding-left: 0;
            position: absolute;
            top: 0;
        }
    }

    @media (max-width: $breakpoint-medium-max) and (min-width: $breakpoint-medium) {
        &.uk-background-secondary {
            .context-text {
                padding-left: 290px;
            }
        }

        &:not(.uk-background-secondary) {
            .context-text {
                padding-right: 270px;
            }
        }
    }

    @media (max-width: $breakpoint-small-max) and (min-width: $breakpoint-small) {
        &.uk-background-secondary {
            .context-text {
                padding-left: 210px;
            }
        }

        &:not(.uk-background-secondary) {
            .context-text {
                padding-right: 210px;
            }
        }
    }
}