$transitionDelay: 4;
$svgTransitionDelay: $transitionDelay+1;

.start {
    overflow-x: hidden;

    &.start-last .uk-background-primary {
        padding-bottom: 30px;
    }

    &.start-first .uk-background-primary {
        padding-bottom: 35px;
    }

    img {
        max-width: calc(100vw - 20px);
    }

    svg {
        width: 227px;
        height: 69px;
    }

    @media (min-width: $breakpoint-xsmall-max) {
        &.start-last .uk-background-primary {
            padding-bottom: 90px;
        }

        &.start-first .uk-background-primary {
            padding-bottom: 85px;
        }

        img {
            max-width: calc(100vw - 60px);
        }
    }

    @media (min-width: $breakpoint-medium-max) {
        .uk-background-primary {
            overflow: hidden;
        }

        &.start-first {
            .uk-list {
                padding: 208px 0 277px 100px;
            }

            svg {
                bottom: 120px;
            }

            li {
                transform: translateY(800%);
            }

            @for $i from 1 through $transitionDelay {
                li:nth-of-type(#{$i}) {
                    transition-delay: #{$i * .2s};
                }

                svg {
                    transition-delay: #{$svgTransitionDelay * .2s};
                }
            }

            &-animation {
                .uk-background-cover {
                    transform: translateY(0);
                }

                li,
                svg {
                    transform: translateY(0);
                }
            }
        }

        &.start-last {
            >.uk-flex-left {
                overflow: hidden;
            }

            img {
                max-width: 417px;
                transform: translateY(100%);
                transition-delay: .5s;
            }

            .uk-background-primary {
                padding: 157px 0 256px 207px;

                svg {
                    bottom: 177px;
                }
            }

            &-animation {
                img {
                    transform: translateY(0);
                }
            }
        }

        &-img {
            width: 44.88%;
            position: relative;

            .uk-background-cover {
                position: absolute;
                top: 0;
                transform: translateY(100%);
                left: 0;
                transition: 1s ease;
                transition-delay: .5s;
            }
        }

        li,
        svg,
        img {
            transition: .5s ease;
        }

        svg {
            position: absolute;
            left: 0;
            transform: translateY(100%);
        }
    }

    @media (min-width: $breakpoint-large-max) {
        &.start-last {
            img {
                max-width: 617px;
            }
        }
    }

    @media (max-width: $breakpoint-large) {
        flex-direction: column;

        .uk-list {
            padding: 60px 60px 40px;
        }
    }

    @media (max-width: $breakpoint-small) {
        &.start-last h2 {
            font-size: 72px;
        }

        .uk-list {
            padding: 47px 20px 20px;
        }
    }

    @media (max-width: $breakpoint-large) and (min-width: $breakpoint-small) {
        &.start-last h2 {
            font-size: 140px;
        }

        &.start-first h2 {
            font-size: 100px;
        }
    }
}