$testimonialsDelay: 4;

.testimonials {
    padding: 115px 0 20px;

    .uk-container .testimonials-title {
        margin-bottom: 48px;
    }

    &-icon {
        fill: rgba($global-color, .1);
        position: absolute;
        top: 257px;
        transform: translateY(-50%);
    }

    .uk-card-media-top {
        max-width: 413px;
    }

    @media (min-width: $breakpoint-xsmall-max) {
        padding: 170px 0 13px;

        &-icon {
            top: 455px;
        }
    }

    @media (min-width: $breakpoint-large) {
        padding: 230px 0 70px;

        .testimonials-animation {
            @for $i from 1 through $testimonialsDelay {
                .uk-slider-items li:nth-of-type(#{$i}) {
                    transition-delay: #{$i * .2s};
                    opacity: 1;
                }
            }
        }

        .uk-grid {
            margin-left: -5px;

            >* {
                padding-left: 5px;
            }
        }

        .uk-slider-items li {
            opacity: 0;
            transition: .5s ease;
        }

        h2 {
            padding-bottom: 45px;
        }

        &-icon {
            top: 780px;
        }
    }

    @media (max-width: $breakpoint-large) {
        p {
            font-size: 24px;
        }
    }

    @media (max-width: $breakpoint-large) and (min-width: $breakpoint-xsmall-max) {
        .uk-container .testimonials-title {
            margin-bottom: 165px;
        }
    }

    @media (max-width: $breakpoint-small) {
        p {
            font-size: 18px;
        }

        h2 {
            font-size: 44px;
        }
    }
}