$testimonialsDelay: 4;

.testimonials {
    padding: 115px 0 20px;

    .uk-container .testimonials-title {
        margin-bottom: 48px;
    }

    &-icon {
        position: absolute;
        top: 257px;
        transform: translateY(-50%);

        svg {
            fill: rgba($global-color, .1);
        }
    }

    .uk-card {
        .uk-svg path {
            transform-origin: center;
            transition: transform .5s ease;
        }

        @include hover {

            .uk-svg path {
                &:first-of-type {
                    transform: rotate(-450deg);
                }

                &:nth-of-type(2) {
                    transform: rotate(360deg);
                }

                &:last-of-type {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .uk-card-media-top {
        max-width: 413px;
    }

    @media (min-width: $breakpoint-xsmall-max) {
        padding: 170px 0 13px;

        &-icon {
            top: 455px;
        }
    }

    @media (min-width: $breakpoint-large) {
        padding: 230px 0 70px;

        .testimonials-animation {
            @for $i from 1 through $testimonialsDelay {
                .uk-slider-items li:nth-of-type(#{$i}) {
                    transition-delay: #{$i * .2s};
                    opacity: 1;
                }
            }
        }

        .uk-grid {
            margin-left: -30px;

            >* {
                padding-left: 30px;
            }
        }

        .uk-slider-items li {
            opacity: 0;
            transition: .5s ease;
        }

        h2 {
            padding-bottom: 45px;
        }

        &-icon {
            top: 780px;
        }
    }

    @media (min-width: $breakpoint-xlarge) {
        .uk-grid {
            margin-left: -70px;

            >* {
                padding-left: 70px;
            }
        }
    }

    @media (max-width: $breakpoint-large) {
        p {
            font-size: 24px;
        }
    }

    @media (max-width: $breakpoint-xlarge) and (min-width: $breakpoint-large) {
        .uk-card-body {
            padding: 20px;
        }
    }

    @media (max-width: $breakpoint-large) and (min-width: $breakpoint-xsmall-max) {
        .uk-container .testimonials-title {
            margin-bottom: 165px;
        }
    }

    @media (max-width: $breakpoint-small) {
        p {
            font-size: 18px;
        }

        h2 {
            font-size: 44px;
        }
    }
}