.testimonials {
    padding: 115px 0 20px;

    h2 {
        margin-bottom: 48px;
    }

    &-icon {
        fill: rgba($global-color, .1);
        position: absolute;
        top: 257px;
        transform: translateY(-50%);
    }

    .uk-slideshow-items li {
        min-height: 460px;
    }

    .uk-card>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .uk-card-media-top {
        max-width: 413px;
    }

    @media (min-width: $breakpoint-xsmall-max) {
        padding: 170px 0 13px;

        &-icon {
            top: 455px;
        }
    }

    @media (min-width: $breakpoint-medium-max) {
        width: 100%;
        min-height: 85vh;

        &-sticky {
            position: sticky;
            top: 320px;
            height: 80vh;
            overflow-x: hidden;
        }

        &-inner {
            position: absolute;
            height: 100%;
            will-change: transform;
            padding-left: 85vw;
        }

        &-cards {
            position: relative;
            height: 100%;
            padding: 0 0 0 150px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-start;

            >div {
                // margin: 0 0 125px;
                width: 21.6vw;
            }
        }

        &-icon {
            top: 650px;
        }

        &-stop {
            height: 1px;
            position: absolute;
            top: 68%;
            display: block;
            right: 0;
            width: 1px;
            background-color: transparent;
            pointer-events: none;
        }

        .uk-slideshow-items li {
            min-height: 677px;
        }
    }

    @media (max-width: $breakpoint-large) {
        p {
            font-size: 24px;
        }
    }

    @media (max-width: $breakpoint-large) and (min-width: $breakpoint-xsmall-max) {
        h2 {
            margin-bottom: 165px;
        }
    }

    @media (max-width: $breakpoint-small) {
        p {
            font-size: 18px;
        }

        h2 {
            font-size: 44px;
        }
    }
}