.values {

    .uk-grid-column-small,
    .uk-grid-small {
        margin-left: -3px;

        >* {
            padding-left: 3px;
        }
    }

    *+.uk-grid-margin-small,
    .uk-grid+.uk-grid-row-small,
    .uk-grid+.uk-grid-small,
    .uk-grid-row-small>.uk-grid-margin,
    .uk-grid-small>.uk-grid-margin {
        margin-top: 3px;
    }

    .value {
        width: 80px;
        height: 80px;
        transition: $transition;
        @include hover {
            background-color: $warning;
        }
    }

    .uk-slider-nav {
        margin-bottom: 100px;
    }

    .uk-text-lead {
        font-size: 24px;
    }

    @media (min-width: $breakpoint-xsmall-max) {

        .uk-grid-column-small,
        .uk-grid-small {
            margin-left: -7px;

            >* {
                padding-left: 7px;
            }
        }

        *+.uk-grid-margin-small,
        .uk-grid+.uk-grid-row-small,
        .uk-grid+.uk-grid-small,
        .uk-grid-row-small>.uk-grid-margin,
        .uk-grid-small>.uk-grid-margin {
            margin-top: 7px;
        }

        .value {
            width: 170px;
            height: 170px;
        }
    }

    @media (min-width: $breakpoint-large) {
        padding-bottom: 150px;

        >div>.uk-flex-middle {
            min-width: 1700px;
        }
    }

    @media (max-width: $breakpoint-large) {
        .uk-slider-items {
            margin-bottom: 35px;
        }
    }

    @media (max-width: $breakpoint-small) {
        img {
            width: 40px;
        }
    }
}