@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    html:not(.has-scroll-init) {
        @media (min-width: $breakpoint-large) {
            cursor: auto;
            overflow: visible;
        }
    }

    .banner {
        .banner-title h1 {
            width: 100%;

            span {
                opacity: 1;

                &:last-child {
                    display: inline;
                }
            }
        }

        &-bottom {
            display: none;
        }
    }

    .context .number,
    .context-text {
        transform: none;
        opacity: 1;
    }

    .start-img .uk-background-cover,
    .start.start-first li,
    .start.start-last .uk-background-cover {
        transform: translateY(0);
    }

    .testimonials .uk-slider-items li {
        opacity: 1;
    }

    .start {
        @media (max-width: $breakpoint-large) {
            display: block;
        }
    }

    .values {

        @media (min-width: $breakpoint-medium-max) {
            padding-left: 50px;
            padding-right: 50px;

            >div {

                >.uk-flex {
                    flex-wrap: wrap;
                    min-width: 0;
                }
            }

            .uk-grid {
                flex-wrap: wrap;
            }
        }

        @media (min-width: $breakpoint-large) {
            margin-top: 0;
            padding-bottom: 150px;

            >div>.uk-flex-middle>div {
                margin-top: 15px;
            }
        }

        @media (min-width: $breakpoint-xlarge) {
            >div>.uk-flex-middle {
                max-width: 100%;
            }
        }
    }

    .experience {
        .experience-image {
            display: none;
        }

        .experience-image-ie {
            display: block;
            height: 800px;
        }

        @media (min-width: $breakpoint-large) {
            padding: 225px 0 75px;
        }
    }
}