p {
    @media (max-width: $breakpoint-large) {
        font-size: 20px;
    }

    @media (max-width: $breakpoint-small) {
        font-size: 16px;
    }
}

h2 {
    @media (max-width: $breakpoint-large) and (min-width: $breakpoint-small) {
        font-size: 80px;
    }
}