@keyframes circleScale {
    0% {
        transform: scale(0);
        border-radius: 50%;
    }

    20% {
        transform: scale(50);
        border-radius: 50%;
    }

    50% {
        transform: scale(1000);
        border-radius: 50%;
    }

    100% {
        transform: scale(2400);
        border-radius: 50%;
    }
}

@keyframes circleScaleBackwards {
    0% {
        transform: scale(2200);
        border-radius: 50%;
    }

    20% {
        transform: scale(1000);
        border-radius: 50%;
    }

    50% {
        transform: scale(50);
        border-radius: 50%;
    }

    100% {
        transform: scale(0);
        border-radius: 50%;
    }
}

@keyframes navFromLeft {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes navFromLeftBackwards {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-200%);
    }
}

@keyframes navFromRight {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes navFromRightBackwards {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(200%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}