// .uk-card
@mixin hook-card {
    max-width: 280px;

    @media (min-width: $breakpoint-xsmall-max) {
        max-width: 413px;
    }
}

// .uk-card-body
@mixin hook-card-body {
    padding: 25px 40px;

    p {
        line-height: 1.5;
    }

    @media (min-width: $breakpoint-xsmall-max) {
        padding: 20px 70px;
    }
}

// .uk-card-media-top
@mixin hook-card-media-top {
    img {
        width: 100%;
    }

    svg {
        width: calc(100% - 10px);
    }
}