// Prevents flicker while loading
.uk-navbar-nav[data-uk-nb-nav] {
	max-height: 80px;
	opacity: 0;

	@media (max-width: $breakpoint-small-max) {
		max-width: 40px;
	}
}

.nb-nav {

	// Show nav after load
	.uk-navbar-nav {
		max-height: none;
		max-width: none;
		opacity: 1;
	}

	&-mobile {
		display: flex;
		flex-direction: column;
		border-top: 1px solid $off-white;
		height: 100vh;
		left: 0;
		padding: 122px 20px 20px;
		width: calc(100% - 40px);
		position: absolute;
		top: 0;
		z-index: 1001;
		overflow-x: hidden;
		overflow-y: auto;

		&::before {
			position: absolute;
			content: '';
			background-color: $global-color;
			z-index: 1000;
			border-radius: 50%;
			top: 39px;
			right: 34px;
			transform: scale(0);
			width: 2px;
			height: 2px;
			transition: $transition;
			transform-origin: 50% 50%;
		}

		&[aria-hidden='false'] {
			&::before {
				animation: circleScale linear .25s forwards;
			}
		}

		&[aria-hidden='true'] {
			&::before {
				transform: scale(2200);
				animation: circleScaleBackwards .45s linear forwards;
			}

			.uk-navbar-nav {
				transform: translateX(200%);
				animation: navFromLeftBackwards .15s ease-in forwards;
			}

			.icon-lovework {
				transform: translateX(-200%);
				animation: navFromRightBackwards .15s ease-in forwards;
			}

			.nav-contact {
				transform: translateX(200%);
				animation: navFromRightBackwards .15s ease-in forwards;
			}
		}

		.nav-icon {
			svg {
				display: none;

				&:last-of-type {
					display: block;
				}
			}

			.icon {
				fill: rgba($white, .5);
				width: 100vw;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1001;
				animation: navFromRight ease-in .35s forwards;
				transform: translateX(200%);
				pointer-events: none;
			}
		}

		.uk-navbar-nav {
			display: block;
			z-index: 1001;
			left: 0;
			transform: translateX(-200%);
			animation: navFromLeft .15s ease-in .2s forwards;
		}

		.uk-navbar-item,
		.uk-navbar-nav>li>a,
		.nb-navbar-toggle {
			display: block;
			min-height: 0;
			padding: 0;
		}
	}

	@media (min-width: $breakpoint-xsmall-max) {
		&-mobile {
			padding: 195px 60px 20px;
			width: calc(100% - 120px);
			// height: calc(100% - 215px);

			&::before {
				top: 70px;
				right: 70px;
			}

			.nav-icon {
				svg {
					&:nth-of-type(2) {
						display: block;
					}

					&:last-of-type {
						display: none;
					}
				}

				.icon {
					width: calc(100vw - 163px);
				}
			}
		}
	}

	@media (min-width: $breakpoint-medium-max) {
		&-mobile {
			justify-content: space-between;
			flex-direction: row;
			overflow-y: hidden;
			padding: 195px 130px 77px 140px;
			width: calc(100% - 270px);

			.nav-icon {
				svg {
					&:first-of-type {
						display: block;
					}

					&:nth-of-type(2) {
						display: none;
					}
				}

				.icon {
					width: calc(50vw + 90px);
					top: -45px;
					right: -37px;
				}
			}

			.uk-navbar-nav {
				height: calc(100vh - 360px);
			}
		}
	}
}