.footer {
	font-size: .5833334rem;
	padding: 50px 20px 33px;
	color: $global-color;
	line-height: 1.5;

	@media (min-width: $breakpoint-xsmall-max) {
		padding: 55px 60px 50px;

		.copyright {
			padding-right: 20px;
		}
	}

	@media (min-width: $breakpoint-medium-max) {
		padding: 70px 50px 40px;
	}

	@media (max-width: $breakpoint-small) {
		.uk-flex {
			flex-direction: column;
		}

		.copyright {
			margin-bottom: 35px;
		}
	}

	.watermark {
		a {
			align-items: center;
			display: inline-flex;
			transition: $transition;

			@include hover {
				color: #e11e2f;
				text-decoration: none;
			}
		}
	}
}