.footer {
	font-size: .5833334rem;
	padding: 70px 50px 40px;
	color: $global-color;
	line-height: 1.5;

	@media (max-width: $breakpoint-mobile) {
		font-size: 0.8rem;
	}

	.watermark {

		a {
			align-items: center;
			display: inline-flex;
			transition: $transition;

			@include hover {
				color: #e11e2f;
				text-decoration: none;
			}
		}
	}
}