.header {

	.uk-logo {

		>div {
			width: 156px;
			height: 55px;
			z-index: 1002;

			img {
				transition: .25s ease-in;
				transform: translateX(-100%);
			}
		}

		.uk-svg,
		.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
			width: 55px;
			height: 55px;
			z-index: 1002;
			margin-right: 12px;

			path {
				transition: .25s ease-in;

				&:nth-of-type(2) {
					fill: #0070ba;
				}

				&:last-of-type {
					fill: #ee7402;
					transform-origin: center;
				}
			}
		}
	}

	&.nav-open {
		.uk-logo {

			>div {

				img {
					transform: translateX(0);
				}
			}

			.uk-svg,
			.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
				path {
					&:first-of-type {
						fill: $white;
					}

					&:last-of-type {
						transform: rotate(-72deg) translate(-2%, 2%);
					}
				}
			}
		}
	}

	.nb-navbar-toggle {
		background-color: transparent;
		outline: none;
		border: 0;
		width: 48px;
		height: 48px;
		padding: 0;
		min-height: 0;
		z-index: 1002;
		position: relative;
		cursor: pointer;

		span {
			position: absolute;
			left: 50%;
			width: 22px;
			height: 2px;
			background: $global-color;
			content: '';
			top: 50%;
			transform: translate(-50%, -50%);
			transition: .25s ease;

			&::after,
			&::before {
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background: $global-color;
				content: '';
				transition: .25s ease;
			}

			&::after {
				top: -7px;
			}

			&::before {
				top: 7px;
				width: 80%;
			}
		}

		@include hover {
			span {
				&::before {
					width: 100%;
				}
			}
		}
	}

	a {
		transition: $transition;
	}

	.nav-contact {
		animation: navFromRight .15s ease-in .2s forwards;
		right: 0;
		transform: translateX(200%);
		z-index: 1001;

		* {
			color: $white;
		}

		a,
		span {
			line-height: 1.7;
		}

		a {
			position: relative;

			&:not(.callback)::before {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: $warning;
				content: '';
				height: 1px;
				opacity: 0;
				transition: $transition;
			}

			@include hover {
				text-decoration: none;

				&::before {
					opacity: 1;
				}
			}
		}

		.uk-flex a {
			font-size: 18px;
		}

		ul span {
			font-size: .583334rem;
		}

		.callback {
			font-size: 20px;
			margin-top: 45px;
			line-height: 1.2;
			text-align: left;

			svg {
				width: 60px;
				transition: $transition;
			}

			@include hover {
				svg {
					transform: translateX(5px);
				}
			}
		}
	}

	.nb-nav[aria-hidden='false']~.nb-navbar-toggle {

		span {
			background: transparent;
			transition: .1s ease;

			&::after,
			&::before {
				top: 0;
				transition: .1s ease;
				background: $secondary;
			}

			&::after {
				transform: rotate(45deg);
				left: 0;
			}

			&::before {
				transform: rotate(-45deg);
				right: 0;
				width: 100%;
			}
		}

		@include hover {
			span {

				&::before,
				&::after {
					background-color: $warning;
				}
			}
		}
	}

	@media (min-width: $breakpoint-xsmall-max) {
		.uk-logo {
			margin-top: 13px;

			>div {
				width: 215px;
				height: 76px;
			}

			.uk-svg,
			.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
				width: 76px;
				height: 76px;
			}
		}

		.nb-navbar-toggle {
			width: 64px;
			height: 64px;

			span {
				width: 25px;
			}
		}

		.nav-contact {
			.uk-flex a {
				font-size: 20px;
			}

			.callback {
				font-size: 1.4167rem;

				svg {
					width: 90px;
				}
			}
		}
	}

	@media (min-width: $breakpoint-medium-max) {
		.nav-contact {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: calc(100vh - 360px);

			.callback {
				text-align: right;
			}
		}
	}
}